.container
  %h1 Welcome to BloggersWithoutBorders!
  %p A simple tool to help create promotional snippets for a blog post. Just enter the blog post url in the textbox below, click parse, and get the promotional draft.
  = render 'form'