#footer
  .container
    %p.text-muted.credit
      %a{href: "https://github.com/TamerShlash/BloggersWithoutBorders"} BloggersWithoutBorders
      is developed by
      %a{href: "https://tamershlashme.wordpress.com"} Tamer Shlash
      and licensed under MIT.
/ Placed at the end of the document so the pages load faster
%script{src: "https://code.jquery.com/jquery-1.10.2.min.js"}
= javascript_include_tag "application"