%head
  %meta{charset: "utf-8"}/
  %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %meta{content: "A simple tool to help create promotional snippets for a blog post.", name: "description"}/
  %meta{content: "Tamer Shlash", name: "author"}/
  %link{href: "../../docs-assets/ico/favicon.png", rel: "shortcut icon"}/
  %title BloggersWithoutBorders
  = stylesheet_link_tag    "application", media: "all"
  = csrf_meta_tags
  %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
  %script{src: "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}
